html {
    height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
}
body {
    color: #ffffff;
    margin: 0 auto;
    background-color: #141414;
    box-sizing: border-box;
    height: 100%;
}

main {
    margin:0 10%;
    background-color: #e0e0e0;
    height: auto;

    
}

.container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 10px;
        
        grid-auto-rows:max-content;
}

.card1, .card2, .card3, .card4 {
border-radius: 2%;
margin: 1em;
padding: 2em;
box-shadow: 0px 4px 8px 0px #313131;
}

.card:hover {
    border-radius: 2%;
    margin: 1em;
    padding: 2em;
    box-shadow: 0px 4px 8px 0px #292929;
    background-color: #242424;
    transition: .5s;
}

.card1 {
    background-color: #444444;
}
.card2 {
    background-color: #888888;
}
.card3 {
    background-color: #444444;
}

.card4 {
    background-color: #888888;
}

figure {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
a {
    width: 100%;
    height: auto;
    text-decoration: none;
}

img {
    max-width: 100%;
}


iframe {
    width: 100%;
    max-width: 100%;
    margin: 25px auto;
}


table {
    margin: 1rem auto;
}

table * {
    border: 1px white solid;
}

header {
    
    background-image: url(img/header.jpg);
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    padding: 10px;
    font-size: 5vw;
    background: linear-gradient(-45deg, #eeeb52, #e25d85, #033653, #08af7d);
    -webkit-background-clip: text;
    -webkit-text-stroke: 6px transparent;
    color:#e0e0e0;
    background-size: 200% 200%;

}

nav {
    background-color: #2626269d;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 5vw;
}
/* parent of list */
nav ul { 
    display: flex;
    margin-left: auto;
    padding:0 ;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}
a{
    color: aliceblue;
}
a:hover {
    color: #08af7d;
}

footer {
    margin-top: 10px;
    padding: 20px 0;
    background-color: #acacac9d;
}
footer, footer *{
    text-align: center;
    color: antiquewhite;
}

@media screen and (min-width:926px) and (max-width:1236px) {
    .card4 {
            background-color: #888888;
    
            grid-column: 1/-1;
        }
}


